.navigation-global li::after {
  content: "|";
  margin-left: 10px;
  margin-right: 10px;
}

.navigation-global li:last-child::after {
  content: '';
}

.submenu li {
  list-style-type: none;
  padding: 10px;
}

.navigation-footer li::after {
  content: "|";
  margin-left: 10px;
  margin-right: 10px;

}

.navigation-footer li:last-child::after {
  content: '';
}

.navigation-footer li a {
  color: #1623d1;
  text-decoration: underline;
}